.loading-screen {
    align-items: center;
    color: #202327;
    display: flex;
    flex-flow: column nowrap;
    font-family: "noto_sansregular", sans-serif;
    justify-content: center;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 375px;
    text-align: center;
    width: 100%
}

.loading-screen .header-wrapper {
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .03);
    margin-bottom: 47px;
    text-align: left;
    width: 100%
}

.loading-screen .header-wrapper header {
    display: flex;
    justify-content: center;
    padding: 47px 62px
}

.loading-screen .header-wrapper header img {
    height: 37px;
    width: 250px
}

@media only screen and (min-width:577px) {
    .loading-screen .header-wrapper header {
        justify-content: left;
        padding: 47px 0 47px 47px
    }
}

@media only screen and (min-width:992px) {
    .loading-screen .header-wrapper header {
        margin: 0 auto;
        width: 1024px
    }
}

.loading-screen .loading-spinner {
    position: relative;
    margin: 18px auto;
    width: 40px
}

.loading-screen .loading-spinner:before {
    content: "";
    display: block;
    padding-top: 100%
}

.loading-screen .loading-spinner .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.loading-screen .loading-spinner .path {
    stroke: #1294ef;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.3s ease-in-out infinite;
    stroke-linecap: square
}

.loading-screen .loading-text {
    color: #5f6875;
    font: 20px "noto_sansbold", sans-serif;
    line-height: 28px;
    max-width: 344px
}

@media only screen and (min-width:577px) {
    .loading-screen .loading-text {
        max-width: 605px
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

.hidden {
    display: none
}

.ie-11 {
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 375px;
    width: 100%
}

.ie-11 .ie11-content {
    margin: 0 0 0 39px
}

@media only screen and (min-width:577px) {
    .ie-11 .ie11-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center
    }
}

.ie-11 .ie11-content .content-column {
    display: flex;
    flex-flow: column nowrap
}

.ie-11 .ie11-content .content-column .browser-link {
    align-items: center;
    border-bottom: none;
    display: flex;
    height: 72px;
    padding: 19px 0 17px 16px;
    margin-bottom: 8px;
    width: 223px
}

.ie-11 .ie11-content .content-column .browser-link.safari-browser {
    display: none;
}

.ie-11.mac .ie11-content .content-column .browser-link.safari-browser {
    display: flex;
}

.ie-11.mac .ie11-content .content-column .browser-link.windows-browser {
    display: none;
}

.ie-11 .ie11-content .content-column .browser-link .browser-icon {
    height: 36px;
    margin-right: 18px;
    width: 36px
}

.ie-11 .ie11-content .content-column .browser-link .browser-title {
    color: #403F4C;
    font: 18px "noto_sansregular", sans-serif;
    letter-spacing: 0;
    line-height: 28px
}

.ie-11 .ie11-content .content-column .browser-link .install {
    color: #1294ef;
    font: 14px "noto_sansmedium", sans-serif;
    letter-spacing: 0;
    line-height: 24px
}

.ie-11 .ie11-content .content-column .browser-link:hover {
    background-color: #F2F3F7;
    border-radius: 12px
}

.ie-11 .ie11-content .content-column .browser-link:lang(fr) {
    width: 240px
}

.ie-11 .ie11-content .content-column .ie11-headers {
    letter-spacing: 0
}

.ie-11 .ie11-content .content-column .ie11-headers .ie11-subtitle {
    color: #737F8E;
    font: 18px "noto_sanssemibold", sans-serif;
    height: 56px;
    line-height: 28px;
    margin-bottom: 32px;
    width: 395px
}

.ie-11 .ie11-content .content-column .ie11-headers .ie11-title {
    color: #403F4C;
    font: 30px "noto_sansbold", sans-serif;
    line-height: 40px;
    margin-bottom: 8px;
    width: 449px
}

.ie-11 .ie11-content .ie11-image {
    margin-bottom: 44px;
    height: 221px;
    width: 352px
}

@media only screen and (min-width:577px) {
    .ie-11 .ie11-content .ie11-image {
        margin: 52px 67px 44px 0
    }
}

.ie-11 .header-wrapper {
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 47px;
    text-align: left;
    width: 100%
}

.ie-11 .header-wrapper header {
    display: flex;
    justify-content: center;
    padding: 47px 62px;
    width: 100%
}

.ie-11 .header-wrapper header img {
    height: 37px;
    width: 250px
}

@media only screen and (min-width:577px) {
    .ie-11 .header-wrapper header {
        justify-content: flex-start;
        padding: 47px 0 47px 47px
    }
}

@media only screen and (min-width:992px) {
    .ie-11 .header-wrapper header {
        margin: 0 auto;
        width: 1024px
    }
}